/* Style */
* {
background-color: #044776;
color: white;
list-style-type: none;
text-align: center;
    /*border: 0.1px solid red; */
  }

img {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

h1 {
font-size: 70px;
font-weight: bold;
text-align: center;
font-family: fantasy, copperplate; 
}

h2 {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    font-family: fantasy, copperplate; 
    }


#header {
    padding-top: 80px;
}

ul {
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-inline: 20px;
}

li {
    padding-top:10px ;
    font-size: 20px;
}

a {
    text-decoration: none;
  }


#instructions li {
font-size: 20px;
list-style-type:decimal;
list-style-position: inside;
text-align: left;
margin-left: 300px;
margin-right: 300px;
}

#ingredients li {
margin-left: 320px;
margin-right:300px;
text-align: left;
}

.m1 {
display:inline;
padding:30px;
}
